<div id="<%= dom_id tariff_rule %>">
  <div>
    <strong>HTS (tariff) Code:</strong>
    <%= tariff_rule.hs_code %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= tariff_rule.description %>
  </div>

  <div>
    <strong>Duty Rate (%):</strong>
    <%= tariff_rule.rate %>
  </div>

  <div>
    <em>
      This U.S. Harmonized Tariff Schedule (HTS) code classifies this item and the duty rate is applied to its declared customs value when Heliladder imports it into the United States.
    </em>
  </div>
</div>
