<div id="<%= dom_id tariff_rule %>">
  <div>
    <strong>Hs code:</strong>
    <%= tariff_rule.hs_code %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= tariff_rule.description %>
  </div>

  <div>
    <strong>Rate:</strong>
    <%= tariff_rule.rate %>
  </div>

</div>
